.pp {
  background: url("./assets/fond1.png") center/cover;
}

.menu {
  position: sticky;
  z-index: 2000;
  top: 5%;
}

.page2 {
  width: 100%;
  height: 90vh;
  background: url("../src/assets/ac.png") center/cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 1px #ffffff;
}

.page2>h1 {
  color: #198754;
  font-size: 70pt;
}

.page2>h1>p {
  color: #dc3545;
  font-size: 70pt;
}

.page2>h1>span {
  color: #fff;
  font-size: 30pt;
  text-shadow: 0 0 3px #ffffff;
}


/* page3 */
.service {
  padding-top: 5%;
  padding-bottom: 2%;
  /* background-color: #c4dcf3; */
  background-color: none;
  position: relative;
  padding: 0 3%;
  text-align: center;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 4fr 1fr;
}

.service>.div1 {
  padding: 8%;
}

.service>.div1>h2 {
  font-size: 50pt;
}

.service>.serviceparagraphe {
  grid-column: 1/4;
}

.service-title {
  justify-self: center;
  padding-bottom: 1%;
}

.service-content {
  padding: 0% 10%;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 20vh 20vh 10vh;
  gap: 1vh;
  padding: 2vh;
  border-radius: 1.2em;
  color: #fff;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 1.2em;
  justify-items: left;
  align-content: end;
}

.item2 {
  grid-column: 2/3;
  grid-row: 1/3;
  background: url("assets/img1.jpg") center/cover;
  border-radius: 1.2em;
  box-shadow: 0px 0px 8px #888888;
}

.item3 {
  grid-column: 3/4;
  grid-row: 1/2;
  border-radius: 1.2em;
  justify-items: left;
  align-content: start;
}

.item4 {
  grid-column: 1/3;
  grid-row: 3/5;
  background: url("assets/img2.jpg") center/cover;
  border-radius: 1.2em;
  box-shadow: 0px 0px 8px #888888;
}

.item5 {
  grid-column: 3/4;
  grid-row: 4/5;
  border-radius: 1.2em;
  justify-items: left;
  align-content: start;
}

.item1>h5 {
  padding: 2%;
  border-radius: 1.2em;
  background-color: #369af7;
  box-shadow: 0px 0px 8px #888888;
}

.item3>h5 {
  padding: 2%;
  border-radius: 1.2em;
  background-color: rgb(19, 133, 5);
  box-shadow: 0px 0px 8px #888888;
}

.item5>h5 {
  padding: 2%;
  border-radius: 1.2em;
  background-color: #c71c1c;
  box-shadow: 0px 0px 8px #888888;
}

.item6 {
  grid-column: 3/4;
  grid-row: 2/4;
  background: url("assets/img3.jpg") center/cover;
  border-radius: 1.2em;
  box-shadow: 0px 0px 8px #888888;
}

/* page4 */
.page4 {
  padding: 15px;
  font-weight: 700;
  font-size: 20pt;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/eau.jpg") center/cover;
}

/* page5 */
.page5 {
  width: 100%;
  height: auto;
  background: none;
}

.page5 .card {
  background: none;
}

.about {
  border: none !important;
  padding: 2%;
}

.side-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-a-img {
  width: 400px;
}


/* page6 */
.service1 {
  padding-top: 2%;
  /* padding-bottom: 2%; */
  background-color: none;
  padding-bottom: 2%;
  position: relative;
}

.service-title {
  justify-self: center;
  padding-bottom: 1%;
}

.cardcolexamen {
  background: linear-gradient(0.25turn, rgb(67, 238, 44), rgba(235, 248, 225, 0), rgb(67, 238, 44));
  width: 100%;
  min-height: 32vh;
  position: absolute;
  /* top: -32vh; */
  z-index: 100;
}

.examen-content {
  display: flex;
  overflow: hidden;
  /* masque ce qui dépasse */
  position: relative;
}

.examen-track {
  display: flex;
  animation: scrollExamens 20s linear infinite;
}

@keyframes scrollExamens {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.exat {
  animation: a 3s linear infinite;
}

@keyframes a {
  from {
    color: white;
    transform: translateX(2%);
  }

  to {
    color: black;
    transform: translateX(0);
  }
}

.cardexamen {
  flex: 0 0 auto;
  width: 15%;
  /* empêche la carte de se réduire */
  margin: 0 10px;
}

.service-content-img {
  width: 100%;
  height: 150px;

}

@media (max-width : 500px) {
  .service {
    display: block !important;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: none;
    padding-bottom: 2%;
    position: relative;
    text-align: center;
  }

  .imgcard {
    padding: 4% 10%;
    border-radius: 20% !important;
    overflow: hidden;
    object-fit: fill;
  }

  .text1 {
    font-size: 12pt;
    padding-bottom: 4vh;
  }

  .page11 {
    object-fit: cover;
    /* Remplit le conteneur tout en gardant le ratio */
    object-position: center;
    /* Centre la vidéo */
    height: 100vh;

  }

}