.menu {
  position: sticky;
  z-index: 2000;
  top: 5%;
}

.ecart {
  text-decoration: none;
}

.ecartleft {
  margin-right: 5%;
}


/* page 1 */
.page1 {
  /* position: absolute; */
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 105vh;
  overflow: hidden;
}

.page11 {
  object-fit: cover;
  /* Remplit le conteneur tout en gardant le ratio */
  object-position: center;
  /* Centre la vidéo */
  height: 103.3vh;
  width: 100%;

}


/* Le conteneur global du carousel */
.miniservice {
  background-color: rgb(28, 150, 199);
}

.carousel-container {
  width: 100%;
  max-height: 95vh;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}

.carousel-container-2 {
  width: 100%;
  height: 95vh;
  object-fit: fill;
  /* background: linear-gradient(to right, rgba(63, 135, 166, 0.9) 10%, rgba(166, 118, 63, 0) 75%); */
  /* background: linear-gradient(0.25turn, rgb(255, 255, 255), rgba(235, 248, 225, 0), rgb(255, 255, 255)); */
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 1;

}

/* Chaque image du phrase */
.carousel-container-2>h1 {
  /* color: rgb(80, 123, 201); */
  /* color: #fff; */
  font-weight: bold;
  text-shadow: 0px 0px 3px 2px #000;
  font-size: 8vh;
  padding-left: 7%;
  padding-top: 5%;
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2); */
}

.leseaux {
  color: #c71c1c;
}

.carousel-container-2>p {
  color: #fff;
  font-size: 3vh;
  padding-left: 7%;
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4); */
}

/* Chaque image du carousel */
.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.carousel-caption {
  height: 100%;
}

.terrain-ambulance {
  width: 100%;
  position: absolute;
  top: 56.5vh;
  padding-left: 5%;
  z-index: 3;
}

.terrain-ambulance>img {
  width: 50%;
  position: absolute;
  /* animation: animambulance 7s infinite; */
}


/*a propos */
.miniapropos {
  position: relative !important;
  /* background-color: rgb(247, 249, 250); */
  /* background-image: url("assets/img1.jpg") ; */
  /* backdrop-filter: blur(20px); */
  z-index: 10 !important;
  overflow: hidden;

}

.bgminiapropos {
  position: absolute;
  background: rgba(0, 0, 0, 0.2) url("assets/img6.png") center/cover no-repeat;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: auto;
  z-index: -2;
}

.about {
  border: none !important;
  height: 50vh;
  margin-bottom: 4vh;
}

.vision {
  padding-top: 4%;
  z-index: 20 !important;
  text-align: center;
  color: #fff;
  font-size: 50pt;
}

.imgcard {
  border-radius: 0 2.5em 0 0;
  overflow: hidden;
  object-fit: fill;
}

.side-a {
  /* background-color: rgba(80, 123, 201, 0.7);
  background-image: url('assets/img1.jpg');
  background-blend-mode: overlay;
  height: auto; */
  overflow: hidden !important;
  max-height: 70vh;
}

.side-b {
  text-align: justify;
  padding: 0 5%;
  background-color: none;
  color: #fff;
  z-index: 0;
  align-content: center;
}

.text1 {
  padding: 0 15%;
  font-size: 15pt;
}

.card {
  background: none !important;
}



/* miniservice*/
.service {
  padding-top: 5%;
  padding-bottom: 2%;
  background-color: #c4dcf3;
  padding-bottom: 2%;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 4fr 1fr;
}

.service>.div1 {
  padding: 8%;
}

.service>.div1>h2 {
  font-size: 50pt;
}

.service>.serviceparagraphe {
  grid-column: 1/4;
}

.service-title {
  justify-self: center;
  padding-bottom: 1%;
}

.service-content {
  padding: 0% 10%;
}

.examen-content {
  padding: 0% 0%;
}

.service-content>div {
  padding: 0 1%;
}

.service-content-img {
  margin: 4%;
  border-radius: 20px;
  box-shadow: 0px 0px 16px #888888;
}

.service1 {
  padding-top: 10%;
  /* padding-bottom: 2%; */
  background-color: none;
  padding-bottom: 2%;
  position: relative;
}

.service1>p {
  padding: 0 15%;
  text-align: center;
  padding-bottom: 4vh;
  color: #fff;
}

.service-title1 {
  text-align: center;
  color: #fff;
  padding-bottom: 1%;
}

.service-content1 {
  padding: 0% 13%;
}


.service-content1-div>div {
  position: absolute;
  color: #fff;
  background-color: none !important;
  display: block;
  width: 100%;
}

.service-content1-div {
  position: relative;
  border-radius: 2.5em !important;
  display: flex;
  justify-self: center;
  justify-content: end;
  box-shadow: 0px 0px 8px #888888;
  width: 70%;
}

.service-content-img1 {
  padding: 0%;
  border-radius: 8px;
  height: 45vh;
  border-radius: 2.5em !important;
}

.cardcolexamen {
  background: linear-gradient(0.25turn, rgb(67, 238, 44), rgba(235, 248, 225, 0), rgb(67, 238, 44));
  width: 100%;
  min-height: 32vh;
  position: absolute;
  /* top: -32vh; */
  z-index: 100;
}

.examen-content {
  display: flex;
  overflow: hidden;
  /* masque ce qui dépasse */
  position: relative;
}

.examen-track {
  display: flex;
  animation: scrollExamens 20s linear infinite;
}

@keyframes scrollExamens {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.cardexamen {
  flex: 0 0 auto;
  width: 15%;
  /* empêche la carte de se réduire */
  margin: 0 10px;
}


/* miniservice*/
.service1 {
  padding-top: 6%;
  background-color: none;
  padding-bottom: 2%;
}

.btncc {
  display: grid;
  overflow-wrap: break-word !important;
}

.btncc>h5 {
  display: flex;

}

/* .serviceprincipal {
  position: absolute !important;
} */

.exat {
  background-color: #fff;
  padding: 1%;
  margin-bottom: 9vh;
  color: #369af7;
  text-align: center;
  border-radius: 1.6em;
}

.serviceparagraphe {
  padding-top: 5vh;
  font-size: 12pt;
  color: rgb(19, 133, 5);
}

/* .btnccc{
  display: flex;
  justify-content: space-between;
} */
.btncccc {
  font-size: 10pt !important;
  margin-left: 4px;
}

/* miniexamen*/





/* pied de page*/
.footer {
  position: relative;
  display: grid;
  grid-row: 3fr 1fr;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("assets/img6.png") center/cover;
  padding: 0 10%;
  color: #fff;
}

.footer-a {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footer-aa {
  padding: 8% 0;
  display: grid;
  grid-row: -1fr;
  text-align: left;
}

.footer-aa>a {
  text-decoration: none;
  color: #fff;
  margin-right: 5%;
}

.footer-ab {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.footer-aba {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.footer-b {
  padding-top: 4%;
  padding-bottom: 2%;
  text-align: center;
}

.footer-abb {
  display: flex;
  padding: 30%;
}

.footer-abb>a {
  padding: 8%;
}




/* page3 */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 20vh 20vh 10vh;
  gap: 1vh;
  padding: 2vh;
  border-radius: 1.2em;
  color: #fff;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 1.2em;
  justify-items: left;
  align-content: end;
}

.item2 {
  grid-column: 2/3;
  grid-row: 1/3;
  background: url("assets/img1.jpg") center/cover;
  border-radius: 1.2em;
  box-shadow: 0px 0px 8px #888888;
}

.item3 {
  grid-column: 3/4;
  grid-row: 1/2;
  border-radius: 1.2em;
  justify-items: left;
  align-content: start;
}

.item4 {
  grid-column: 1/3;
  grid-row: 3/5;
  background: url("assets/img2.jpg") center/cover;
  border-radius: 1.2em;
  box-shadow: 0px 0px 8px #888888;
}

.item5 {
  grid-column: 3/4;
  grid-row: 4/5;
  border-radius: 1.2em;
  justify-items: left;
  align-content: start;
}

.item1>h5 {
  padding: 2%;
  border-radius: 1.2em;
  background-color: #369af7;
  box-shadow: 0px 0px 8px #888888;
}

.item3>h5 {
  padding: 2%;
  border-radius: 1.2em;
  background-color: rgb(19, 133, 5);
  box-shadow: 0px 0px 8px #888888;
}

.item5>h5 {
  padding: 2%;
  border-radius: 1.2em;
  background-color: #c71c1c;
  box-shadow: 0px 0px 8px #888888;
}

.item6 {
  grid-column: 3/4;
  grid-row: 2/4;
  background: url("assets/img3.jpg") center/cover;
  border-radius: 1.2em;
  box-shadow: 0px 0px 8px #888888;
}

/*services*/
.servicep {
  padding-top: 5%;
  padding-bottom: 2%;
  background-color: #c4dcf3;
  padding-bottom: 2%;
  position: relative;
  text-align: center;
}

/*apropos*/
.side-aa {
  background-color: rgb(247, 249, 250);
  /* background-image: url('assets/img1.jpg'); */
  /* background-blend-mode: overlay; */
  max-height: auto;
  align-content: center;
}

.side-aa-img {
  padding: 5%;
  width: 70%;
  justify-self: center;
}

.side-bb {
  text-align: justify;
  padding: 0 5%;
  background-color: rgb(247, 249, 250);
  height: 70vh;
  align-content: center;
}

/* contact */

.contact {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("assets/eau.jpg") center/cover;
}

/* @keyframes animambulance {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
} */

.serviceglobal {
  height: 100vh;
}

.sliderservice {
  width: 90%;
  height: auto;
  justify-self: center;
}

.serviceprincipalcard {
  margin: 0 2%;
}


.servicep2 {
  height: 100vh;
  overflow-y: hidden !important;
}

.servicep23 {
  height: 30vh;
  overflow-y: scroll !important;
}


@media (max-width : 800px) {
  .page11 {
    object-fit: cover;
    /* Remplit le conteneur tout en gardant le ratio */
    object-position: center;
    /* Centre la vidéo */
    height: 100vh;

  }

  .terrain-ambulance {
    width: 100%;
    position: absolute;
    top: 69vh;
    z-index: 100;
  }

  .terrain-ambulance>img {
    width: 60%;
    position: absolute;
    animation: animambulance 7s infinite;
  }
}

@media (max-width : 500px) {
  .service {
    display: block !important;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #c4dcf3;
    padding-bottom: 2%;
    position: relative;
    text-align: center;
  }

  .imgcard {
    padding: 4% 10%;
    border-radius: 20% !important;
    overflow: hidden;
    object-fit: fill;
  }

  .text1 {
    font-size: 12pt;
    padding-bottom: 4vh;
  }

  .page11 {
    object-fit: cover;
    /* Remplit le conteneur tout en gardant le ratio */
    object-position: center;
    /* Centre la vidéo */
    height: 100vh;

  }

  .terrain-ambulance {
    width: 100%;
    position: absolute;
    top: 82.5vh;
    z-index: 100;
  }

  .terrain-ambulance>img {
    width: 60%;
    position: absolute;
    animation: animambulance 7s infinite;
  }

  /* pied de page*/

  .footer-ab {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .footer-abb {
    display: flex;
    padding: 10%;
  }

  .footer-b {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
  }

  .servicep23 {
    height: 40vh;
    overflow-y: scroll !important;
  }
}